<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/login.css" rel="stylesheet">
    <script type="text/javascript" src="/static/md5-min.js"></script>
    <style>
        #forgetpassword{
            position: fixed;
            width:450px;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
            background-color: white;
            border-radius: 5px;
            text-align: center;
            padding-bottom: 30px;
        }

        #denglu{
            background-color: #EE9CA7;
            border-radius: 20px;
        }

    </style>
</head>
<body>




<div id="forgetpassword">
    <h1>修改密码</h1>
    <form method="post" onsubmit="return verifypassword();">
        {% csrf_token %}
        <div class="formgroup">
            <label for="user_name">新&emsp;密码：</label>
            <input class="formcontrol" id="password" type="password" name="password" placeholder="新密码" required="required"/>
            <span style="color:red;" id="aSpan"></span>
        </div>
        <div class="formgroup">
            <label for="pwd">确认密码：</label>
            <input class="formcontrol" id="password1" name="password1" type="password" placeholder="确认密码" required="required"/>

        </div>
        <div>
            <span style="color:red;" id="pSpan"></span>
        </div>


        <button id="denglu" type="submit" name="login">提交</button>
    </form>
</div>

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="/static/login.js"></script>

</body>
</html>