/*下拉菜单选项*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown .dropdown-content a:hover{
    background-color: #ddd;
    color: black;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 110px;
    min-height: 60px;
  /*box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.2);*/
  padding: 10% 10%;
    font-size: 20px;

    border-top: 2px solid #7dc642;
    left: 0;
    top: 110%;
    box-shadow: 0 15px 30px 0 rgba(0, 3, 143, 0.1);
    text-align: left;
    z-index: 999;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}


/*搜索框样式*/
#container {
    width:500px;
    /*margin-top: 10px;*/
    /*margin-bottom: 5px;*/
    margin-left: 250px;
    height:50px;
    /*margin:0 auto;*/
}
/*div.search {*/
/*  padding:10px 0;*/
/*}*/
form {
    position:relative;
    width:300px;
    margin:0 auto;
}
input,button {
    border:none;
    outline:none;
}
input {
    width:100%;
    height:42px;
    padding-left:13px;
}
button {
    height:42px;
    width:42px;
    cursor:pointer;
    position:absolute;
}
/*搜索框7*/

.bar7 form {
    height:42px;
}
.bar7 input {
    width:300px;
    border-radius:42px;
    border:2px solid #324B4E;
    background: floralwhite;
    transition:.3s linear;
    float:right;
}
.bar7 input:focus {
    width:350px;
}
.bar7 button {
    background:none;
    top:-2px;
    right:20px;
}
.bar7 button:before {
    content:"Search";
    font-family:FontAwesome;
    color:#324b4e;
}