html,
body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dt,
dd,
ol,
form,
input,
textarea,
th,
td,
select {
    margin: 0;
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul,
li,
ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #333;
}

/*头部*/

.head {
    width: auto;
    height: 30px;
    background-color: white;
}

.head-in {
    width: 1317px;
    height: 30px;
    padding-right: 33px;
    margin: 0 auto;
    font-size: 12px;

}

.options {
    float: right;
    width: 235px;
    height: 30px;
}

.options>li.sub {
    height: 30px;
    line-height: 30px;
    margin-left: 17px;
    float: left;
}

.options>li.sub>a {
    font-size: 12px;
}

.sign {
    height: 30px;
    line-height: 30px;
    margin-right: 16px;
    float: right;
}

.register {
    height: 30px;
    line-height: 30px;
    margin-right: 16px;
    float: right;
}

.register>a {
    color: #ff464e;
}



/*search*/

.search {
    position: relative;
    width: 1200px;
    height: 66px;
    margin: 21px auto 0;
    overflow: hidden;
}
.search .items {
    top: 0;
    left: 445px;
    position: absolute;
    width: 435px;
}

.search .items>li.item {
    float: left;
    height: 44px;
    line-height: 44px;
}
.search .items>li.item>a{
    display: block;
}
.search .items>li.item img{
    display:block;
    width: 30px;
    height: 30px;
    margin-top: 6px;
    float: left;
}
.search .items>li.item p{
    display:block;
    padding: 0 20px 0 10px;
    float: left;
}
.search .input{
    position: absolute;
    top: 6px;
    right: 0;
    width: 237px;
    height: 35px;
}
.search .input>input{
    float: left;
    display: block;
    width: 200px;
    height: 35px;
    background-color: #efefef;
}
.search .input>img{
    float: left;
    display: block;
    width: 37px;
    height: 35px;
}


