*{
    box-sizing: border-box;
}
body{
    background:url('/static/background.png');
    transition:background 3s ease;
}
.title{
    margin-left: 100px;
    color:black;
    margin-top: 30px;
}
#welcome,#register,#login{
    position: fixed;
    display:none;
    width:450px;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 30px;

}
.back{
    text-align: center;
    width:50px;
    height:50px;
    line-height: 50px;
    background-color:#F2B3BB;
    color: white;
    font-size: 20px;
}
.back:hover{
    background-color: white;
    color:#F2B3BB;
}
.box1{
    background-color:#A7BFE8 ;
}
.box1:hover{
    color:#A7BFE8;

}

#welcome{
    display:block;
    padding-top: 20px;

}
input{
    width:207px;
    height:37px;
    line-height: 37px;
    border-radius: 10px;
    border:1px solid#F2B3BB ;
    padding-left:7px;
}
h1{
    color:#F2B3BB;
    font-weight: bolder;
}
.h1{
    color: #A7BFE8;
    font-weight: bolder;
}
.p1{
    font-size: 20px;
}
button{
    width:200px;
    height:53px;
    border:none;
    border-radius:20px;
    color:white;
    font-size: 20px;
}
button:hover{
    background-color: white;
}
#btn1{
    background-color: #EE9CA7;
}
#btn2{
    background-color:#A7BFE8 ;
}
#zhuc{
    background-color:#A7BFE8 ;
    border-radius: 20px;
}
#denglu{
    background-color: #EE9CA7;
    border-radius: 20px;
}
.formgroup{
    margin:15px 0;
}
.formcontrol{
    border-radius: 5px;
    outline-color:#EE9CA7;
}
#register input{
    border:1px solid #A7BFE8;
    outline-color:#A7BFE8;
}

.writePass{
    display: inline-block;
    margin-top: 10px;

}
#man,#woman{
    width:15px;
    height:15px;
    margin-left: 30px;
    vertical-align: top;
}
