<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>{% block title %}

    {% endblock %}</title>
    <link rel="stylesheet" href="/static/school.css">
    <link rel="stylesheet" href="/static/allschool.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/base.css">
    <script src="/static/jquery.min.js"></script>
    {% block headerjs %}

    {% endblock %}


</head>

<body>

    {% csrf_token %}
    <div style="background: white;">
{#    {% if user != None %}#}
        {% if user.is_authenticated %}
            <div style="margin-left: 1400px; font-size: 15px; margin-top: 5px;">

                <div class="dropdown">
                    <span>欢迎您，{{ user.username }}</span>
                    <div class="dropdown-content">
                        <span><a href="/center/">个人中心</a></span>
                        <span><a href="/changepassword/">修改密码</a></span>
                        <span><a class="logout">退出登录</a></span>

                    </div>
                </div>

            </div>
        {% else %}
            <div class="head">
                <div class="head-in">
                    <div class="register">
                        <a href="/login/">免费注册</a>
                    </div>
                    <div class="sign">
                        <a href="/login/">登录</a>
                    </div>
                </div>
            </div>
        {% endif %}


        <div id="container">
            <div class="search bar7">
                <form action="/school/search/" method="post" onsubmit="return search1();">
                    {% csrf_token %}
                    <input type="text" placeholder="请输入需要查询的大学" name="search" id="search" onblur="checkschool(this.value)" required="required">
                    <button type="submit"></button>
                </form>
            </div>
        </div>
    </div>


{#    <div class="search">#}
{#        <div class="input">#}
{#            <input type="" name="" placeholder="请输入查询的大学">#}
{#            <img src="/static/1_06.png">#}
{#        </div>#}
{#    </div>#}

    <div class="navbar">
        <a href="/school/">学校大全</a>
        <a href="/school/{{ id }}/">学校概况</a>
        <a href="/school/{{ id }}/professional/">开设专业</a>
        <a href="/school/{{ id }}/provinceline/">历年分数</a>
        <a href="/school/{{ id }}/job_area/">签约地区</a>
        <a href="/school/{{ id }}/job_company/">签约单位</a>
        <a href="/school/{{ id }}/comment/">院校口碑</a>
    </div>


    {% if not index %}
        <div class="firstBack">
        <div class="container">
            <div class="cont">
                <div class="schoolPic">
                    <img class="schoolPicLogo" src="{{ school.logo }}" alt="pic"/>
                </div>
            </div>
            <div class="info">
                <div class="one">
                    <span class="schoolName">{{ school.school_name }}</span>
                    <span class="schoolAddress">{{ school.address }}</span>
                    <div class="schoolHot">
                        <img src="/media/huomiao.png" alt="火苗" width="14" height="18"/>
                        <span class="spFont">人气值：</span>
                        <span class="hotData">{{ base_info.view_total_number }}</span>
                    </div>
                </div>
                <div class="two">
                    {% if base_info.level_name %}
                        <div class="schoolClass">{{ base_info.level_name }}</div>
                    {% endif %}

                    {% if base_info.type_name %}
                        <div class="schoolClass">{{ base_info.type_name }}</div>
                    {% endif %}

                    {% if base_info.nature_name %}
                        <div class="schoolClass">{{ base_info.nature_name }}</div>
                    {% endif %}

                    {% if base_info.dual_class_name %}
                        <div class="schoolClass">{{ base_info.dual_class_name }}</div>
                    {% endif %}

                </div>
                <div class="three">
                    <div class="schoolDetail">
                        <span class="icon-site" style="color: white;">
                        </span>
                        <span>官方网址：
                        <a href="http://zs.henu.edu.cn/" target="_blank">{{ school.site }}</a>
                    </span>
                    </div>
                    <div class="schoolDetail">
                        <span class="icon-phone" style="color: white; font-size: 14px;">
                        </span>
                        <span>官方电话：{{ school.phone }}</span>
                    </div>
                    <div class="schoolDetail">
                        <span class="icon-email" style="color: white; font-size: 14px;"></span>
                        <span>电子邮箱：{{ school.email }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% block main %}

    {% endblock %}


    {% block footerjs %}
        <script src="/static/base.js"></script>
    {% endblock %}

</body>

</html>