{% extends 'base.html' %}
{% block title %}
    首页
{% endblock %}

{% block headerjs %}

{% endblock %}


{% block main %}
    <div align="center">
        <table border="1" cellpadding="50" width="800">
            <tr>
                <td height="60" width="200" align="center">学校名称</td>
                <td align="center">所在地</td>
                <td align="center">办学类型</td>
                <td align="center">热度排名</td>
                <td align="center">类别排名</td>
            </tr>
            {% for school in schools %}
                <tr>
                    <th height="30" width="100"><a href="/school/{{ school.school_id }}/">{{ school.school_name }}</a></th>
                    <th>{{ school.province_name }}</th>
                    <th>{{ school.level_name }}</th>
                    <th>{{ school.rank }}</th>
                    <th>{{ school.type_name }}&emsp;{{ school.rank_type }}</th>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <br>
    <br>
    <div class="bottom_page" align="center" style="font-size: 20px">
        <a href="/school/?page=1" >首页</a>
        {% if schools.has_previous %}
            <a href="/school/?page={{ schools.previous_page_number }}">上一页</a>
        {% else %}
            <a href="/school/?page=1">上一页</a>
        {% endif %}

        <span class="current">
            Page {{ schools.number }} of {{ schools.paginator.num_pages }}
        </span>

        {% if schools.has_next %}
            <a class='active' href="/school/?page={{ schools.next_page_number }}">下一页</a>
        {% else %}
            <a class='active' href="/school/?page={{ schools.paginator.num_pages }}">下一页</a>
        {% endif %}
        <a href="/school/?page={{ schools.paginator.num_pages }}">尾页</a>
    </div>


{% endblock %}
