{% extends 'base.html' %}

{% block title %}
    开设专业
{% endblock %}

{% block headerjs %}
    <link rel="stylesheet" href="/static/professional.css">
{% endblock %}

{% block main %}
    <div class="professional_left">
        <div class="professional_wrap">
            <div class="professional_item">
                <div class="left_info_item">
                    <div class="info_title_box">
                        <div class="info_title_left">
                            <p class="title_border"></p>
                            <span>开设专业</span>
                        </div>
                    </div>
                </div>

                <div class="professional_content">
                    <table class="professional_table" cellspacing="0" width="800" border="1">
                        <tbody style="width: 800px; overflow: hidden;">
                            <tr style="width: 720px; overflow: hidden;">
                                <td height="60" width="300" align="center" style="font-size: 20px">类别</td>
                                <td align="center" style="font-size: 20px">专业名称</td>
                            </tr>
                            {% for professional in professional_list %}
                                <tr>
                                    <th height="30">{{ professional.special_type }}</th>
                                    <th>{{ professional.special_detail }}</th>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>

    <div align="center">

    </div>

    <div class="bottom_page" align="center" style="font-size: 20px">
        {% if professional_list.has_previous %}
            <a href="/school/{{ id }}/professional/?page={{ professional_list.previous_page_number }}">上一页</a>
        {% else %}
            <a href="/school/{{ id }}/professional/?page=1">上一页</a>
        {% endif %}

        <span class="current">
            Page {{ professional_list.number }} of {{ professional_list.paginator.num_pages }}
        </span>

        {% if professional_list.has_next %}
            <a class='active' href="/school/{{ id }}/professional/?page={{ professional_list.next_page_number }}">下一页</a>
        {% else %}
            <a class='active' href="/school/{{ id }}/professional/?page={{ professional_list.paginator.num_pages }}">下一页</a>
        {% endif %}
    </div>
{% endblock %}
