{% extends 'base.html' %}

{% block title %}
    基本信息
{% endblock %}

{% block headerjs %}
    <link rel="stylesheet" href="/static/school_base_info.css">
{% endblock %}

{% block main %}

    <div class="left_info_item base_info_box clearfix">
        <div class="info_title_box clearfix">
            <div class="info_title_left">
                <p class="title_border"></p>
                <span>基本信息</span>
            </div>
        </div>
        <div class="base_info_item clearfix">
            <div class="base_info_item_top clearfix">
                <div class="top_item_box">
                    <p class="top_item">
                        {% if school.num_doctor == "0" %}
                            --
                        {% else %}
                            {{ school.num_doctor }}
                        {% endif %}

                    </p>
                    <span class="span1">博士点</span>
                </div>
                <div class="top_item_box">
                    <p class="top_item">
                        {% if school.num_master == "0" %}
                            --
                        {% else %}
                            {{ school.num_master }}
                        {% endif %}

                    </p>
                    <span class="span1">硕士点</span>
                </div>
                <div class="top_item_box">
                    <p class="top_item">
                        {% if school.num_subject == "0" %}
                            --
                        {% else %}
                            {{ school.num_subject }}
                        {% endif %}

                    </p>
                    <span class="span2">重点学科</span>
                </div>
                <div class="top_item_box">
                    <p class="top_item">
                        {% if school.num_lab == "0" %}
                            --
                        {% else %}
                            {{ school.num_lab }}
                        {% endif %}

                    </p>
                    <span class="span3">重点实验室</span>
                </div>
            </div>
            <div class="base_info_item_bottom">
                <ul class="item_bottom_content clearfix">
                    <li class="item_bottom_li">
{#                        <img width="16" height="16" src="/media/shijian.png">#}
                            <span class="ellipsis">创建时间：1912年</span>
                    </li>
                    <li class="item_bottom_li">
{#                        <img width="16" height="16" src="/media/zhandimianji.png">#}
                            <span class="ellipsis">占地面积：{{ school.area }}</span>
                    </li>
                    <li class="item_bottom_li">
{#                        <img width="16" height="16" src="/media/lishuyu.png">#}
                            <span class="ellipsis">隶属省份：{{ base_info.province_name }}</span>
                    </li>

                    {% if school.num_library %}
                        <li class="item_bottom_li">
{#                        <img width="16" height="16" src="/media/lishuyu.png">#}
                            <span class="ellipsis">学校藏书：{{ school.num_library }}</span>
                        </li>
                    {% endif %}

                    {% if school.old_name %}
                        <li class="item_bottom_li">
{#                        <img width="16" height="16" src="/media/lishuyu.png">#}
                            <span class="ellipsis">曾用名&emsp;：{{ school.old_name }}</span>
                        </li>
                    {% endif %}

                    {% if school.short %}
                        <li class="item_bottom_li">
{#                        <img width="16" height="16" src="/media/lishuyu.png">#}
                            <span class="ellipsis">简&emsp;称&emsp;：{{ school.short }}</span>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="base_info_item_bottom">
                <ul class="item_bottom_content clearfix">
                    <span class="school_introduce_text_item">简&emsp;介&emsp;：{{ school.content }}...</span>

                </ul>
            </div>
        </div>

    </div>


{% endblock %}



